<style>
  .footerContent {
    padding: .4rem .48rem .6rem;
    font-size: .24rem;
    background-color: black;
  }
  .footerContent .content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footerContent .content .footerLogo {
    margin: 0 auto;
    text-align: center;
    margin-bottom: .2rem;
    min-height: 1.2rem;
    min-width: auto;
    display: flex;
    align-items: center;
  }
  .footerContent .content .footerLogo img {
    width: 1.7rem;
    height: auto;
  }
  .footerContent .content .footerLogo span {
    height: .6rem;
    margin: 0 .4rem;
    width: .02rem;
    background: #666;
  }
  .footerContent .content .footerInfo {
    width: 100%;
    color: #ccc;
    display: flex;
    flex-direction: column;
  }
  .footerContent .content .footerInfo p {
    text-align: center;
    height: .5rem;
  }
</style>
<div class="footerContent">
  <div class="content">
    <div class="footerLogo">
      <img src="../assets/footerlogo.png">
      <span></span>
      <h1>
        <img src="../assets/logo1.png">
      </h1>
    </div>
    <div class="footerInfo">
      <P>沪公网安备31010402001113号</P>
      <P>增值电信业务经营许可证：沪B2-20190555</P>
      <P>沪ICP备19018275号-4</P>
      <P>沪网文〔2019〕3168-216号</P>
      <P>国新出审【2019】2978号</P>
      <P>© 2020 米哈游版权所有 | 上海米哈游影铁科技有限公司</P>
      <P>客服电话：86-021-34203305</P>
    </div>
  </div>
</div>